figure.global
  img.service-visu.paralax.wp-post-image(src='img/header2.jpg', alt='phot2')
  figcaption
    h2.punchline Lorem ipsum dolor sit consectetur adipisicing elit
    a.btn-main(href='') ESSAYER GRATUITEMENT
