figure.global
  img.service-visu.paralax.wp-post-image(src='img/header2.jpg', alt='phot2')
  figcaption
    h2.punchline Commander en entreprise n’a jamais été aussi simple !
    a.btn-main(href='') ESSAYER GRATUITEMENT
