div.infos
  ul
    li
      a(href='#') Accueil
    li
      a(href='#') Le produit
    li
      a(href='#') Les tarifs
    li
      a(href='#') Blog
  div.coco
    img(src='img/logofooter.png')
    p.text Proshop est une suite d'applications professionnelles et open sources sui couvre tous les besoins de votre société: CRM, eCommerce, comptabilité, inventaire, point de vente, gestion de projets, etc.
div.credit
  p © Proshop 2016
  ul
    li.facebook
    li.twitter
    li.linkdin
    li.mail
    
