div.infos
  ul
    li
      a Accueil
    li
      a Le produit
    li
      a Les tarifs
    li
      a Blog
  div.block-info
    img(src='img/logofooter.png')
    p Proshop est une suite d'applications professionnelles et open sources sui couvre tous les besoins de votre société: CRM, eCommerce, comptabilité, inventaire, point de vente, gestion de projets, etc.
div.credit
  p © Proshop 2016
  ul
    li
