div.infos
  ul
    li
      a(href='./index.html') Accueil
    li
      a(href='./details.html') Le produit
    li
      a(href='./price.html') Les tarifs
    li
      a(href='#') Blog
  div.coco
    img(src='img/logofooter.png')
    p.text Proshop est une suite d'applications professionnelles et open sources sui couvre tous les besoins de votre société: CRM, eCommerce, comptabilité, inventaire, point de vente, gestion de projets, etc.
div.credit
  p © Proshop 2016
  ul
    li.facebook
      a(href="https://www.facebook.com/proshophetic/")
    li.twitter
      a(href="https://www.twitter.com/proshophetic/")
    li.linkdin
    li.mail
      a(href='mailto:proshop.tech.mail@gmail.com')
    
