header.desktop
  .wrap
    nav
      .logo-wrap
        a.logo(href='/')
          img(src='img/logo.png', alt='')
      .menu
        ul.menu-list
          li.menu-item
            a(href='./index.html') Accueil
          li.menu-item
            a(href='./details.html') Le produit
          li.menu-item
            a(href='./price.html') Les tarifs
          li.menu-item
            a(href='#') Blog
header#js-menu.mobile
  .wrap
    nav
      ul.menu-list
        li.menu-item
          a(href='#service') Le produit
        li.menu-item
          a(href='#about') Les tarifs
        li.menu-item
          a(href='#contact') Contact
        li.menu-item
          a(href='#contact') Blog
      a.logo(href='#')
        img(src='img/logo.png', alt='')
      a#js-burger.burger(href='#')
        span
