ul
  li.keyword
    img(src='img/like.png')
    h3.title facile
    p.text Proshop vous aide à gérer vos achats en entreprise de manière simple et intuitive. Fini la paperasse, place à Proshop.
  li.keyword
    img(src='img/puzzle.png')
    h3.title utile
    p.text Une interface simple et intuitive pensée pour l’utilisateur. Quelques clics suffisent à gérer l’ensemble de vos commandes.
  li.keyword
    img(src='img/light.png')
    h3.title efficient
    p.text L’ensemble de votre service achats réunis au sein d’une seule et même plateforme.
