ul
  li.keyword
    img(src='img/like.png')
    h3.title facile
    p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
  li.keyword
    img(src='img/puzzle.png')
    h3.title utile
    p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
  li.keyword
    img(src='img/light.png')
    h3.title efficient
    p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
