div.left
  h3 Une solution inédite uniquement pour vous
  p Proshop vous propose de digitaliser l’ensemble de l’activité de la gestion des achats en ligne au sein de votre entreprise. Notre plateforme vous propose un outil de suivi de la gestion de votre budget, elle centralise l’ensemble de vos données mais gère aussi l’ensemble des documents administratifs liés aux achats.
div.right
  img(src='img/cool.jpg')
  a.btn-main(href='') EN SAVOIR PLUS
