.pricinglist
  .content-pricinglist
    .basic-pricing
      .basic-pricing-main
        h1.basic-package Basic
        p.basic-price 19,99€
        p.month par mois - sans engagement
        p.offer 30 jours d'essai offerts*
      .basic-pricing-feature
        ul
          li Feature 1
          li Feature 2
          li Feature 3
          li Feature 4       
          li Feature 5
          li Feature 6
      .basic-pricing-buy
        button
          span Choisir ce pack
    .premium-pricing 
      .premium-pricing-main
        h1.premium-package Premium
        p.premium-price 39,99€
        p.month par mois - sans engagement
        p.offer 30 jours d'essai offerts*
      .premium-pricing-feature
        ul
          li Feature 1
          li Feature 2
          li Feature 3
          li Feature 4       
          li Feature 5
          li Feature 6
      .premium-pricing-buy
        button
          span Choisir ce pack
  .try-condition
    .condition
      p * 30 jours d’essai offerts : offre non cumulable, valable une seule fois et pendant 30 jours. Cette offre est sans engagement : vous pouvez annuler votre abonnement quand vous le souhaitez.