.pricinglist
  .content-pricinglist
    .basic-pricing
      .basic-pricing-main
        h1.basic-package Basic
        p.basic-price 11€
        p.month par mois - sans engagement
        p.offer 30 jours d'essai offerts*
      .basic-pricing-feature
        ul
          li.in Gestion du budget par catégorie
          li.in Centralisation des données bancaires
          li.in Centralisation des comptes e-commerce
          li.in Gestion d’un workflow de demande d’achat
          li.in Génération, filtrage et stockage de fiches produit      
          li.in Stockage de toutes les factures + recherche/filtrage
          li.in Génération de statistiques détaillées
          li Gestion des commandes récurrentes
          li Tracking de produit
          li Suivi de commande
          li Support 24h/24h
          li Classification des documents par fournisseur, type de produit etc
          li Segmentation des achats selon leurs modèles de récurrence
          li Pack nouvel employé
      .basic-pricing-buy
        button
          span Choisir ce pack
    .premium-pricing 
      .premium-pricing-main
        h1.premium-package Premium
        p.premium-price 19€
        p.month par mois - sans engagement
        p.offer 30 jours d'essai offerts*
      .premium-pricing-feature
        ul
          li.in Gestion du budget par catégorie
          li.in Centralisation des données bancaires
          li.in Centralisation des comptes e-commerce
          li.in Gestion d’un workflow de demande d’achat
          li.in Génération, filtrage et stockage de fiches produit      
          li.in Stockage de toutes les factures + recherche/filtrage
          li.in Génération de statistiques détaillées
          li.premium Gestion des commandes récurrentes
          li.premium Tracking de produit
          li.premium Suivi de commande
          li.premium Support 24h/24h
          li.premium Classification des documents par fournisseur, type de produit etc
          li.premium Segmentation des achats selon leurs modèles de récurrence
          li.premium Pack nouvel employé
      .premium-pricing-buy
        button
          span Choisir ce pack
  .try-condition
    .condition
      p * 30 jours d’essai offerts : offre non cumulable, valable une seule fois et pendant 30 jours. Cette offre est sans engagement : vous pouvez annuler votre abonnement quand vous le souhaitez.
