ul.fade-punchline
  li
    div
      p.punchline Proshop a littéralement changé ma vie, désormais commander une nouvelle chaise n’a jamais été aussi plaisant, merci le pôle créa et Justine !
      p.credit Charlie Doe
  li
    div
      p.punchline littéralement changé ma vie, désormais commander une nouvelle chaise n’a jamais été aussi plaisant, merci le pôle créa et Justine !
      p.credit Steve Jobs
