ul.fade-punchline
  li
    div
      p.Proshop a littéralement changé ma vie ! Désormais commander une nouvelle chaise de bureau n’a jamais été aussi simple, en quelques clics seulement mon manager peut m’informer de son accord.
      p.credit Steve Jobs
  li
    div
      p.punchline La gestion de notre budget n’a jamais été aussi bien maitrisée et claire, Proshop a permis à ma petite startup de survivre et d’éviter les excès.
      p.credit Bill Gates
