.subscription
  .content-subscription
    .comment
      h1 Votre gestionnaire d'achats
      p
        | à partir de 
        span 19,99€
        |  / mois
    .try
      button 
        span Essayer gratuitement*
