doctype html
html(lang="fr")
  head
    title Proshop, détails du service
    meta(charset='utf-8')
    link(rel='stylesheet', href='assets/stylesheets/main.css')
    link(rel='icon', type='image/png', href='img/favicon.png')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
  body  
    include ./includes/header.jade
    main
      section#baseline-section
        include ./includes/baseline.jade
      section#tpl1-section
        div.left
          h3 Une plateforme, des multitudes de possibilités
          p Proshop vous propose de digitaliser l’ensemble de l’activité de la gestion des achats en ligne au sein de votre entreprise. Notre plateforme vous propose un outil de suivi de la gestion de votre budget, elle centralise l’ensemble de vos données mais gère aussi l’ensemble des documents administratifs liés aux achats. Proshop vous propose de digitaliser l’ensemble de l’activité de la gestion des achats en ligne au sein de votre entreprise. Notre plateforme vous propose un outil de suivi de la gestion de votre budget, elle centralise l’ensemble de vos données mais gère aussi l’ensemble des documents administratifs liés aux achats.
        div.right
          img(src='img/tpl2.jpg')
      section#tpl2-section
        div.left
          img(src='img/tpl1.jpg')
        div.right
          h3
            | La technologie
            span  1password 
            | pour un maximum de sécurité
          p 1Password Teams gives you full control over who has access to your team's most important information. Now you can share the simple security of 1Password with everyone.
      section#tpl3-section
        h3 Un outil personnalisé, juste pour vous
        p Petite, moyenne entreprise, star’up jeune et dynamique. Notre solution est destinée aux entreprises de moins de 50 salariés mais va bientôt s’étendre à l’international.
        a.btn-main(href='') ESSAYER GRATUITEMENT
    footer
      include ./includes/footer.jade
    script(src='assets/vendor/modernizr.min.js')
    script(src='assets/vendor/vanilla.js')
    script(src='assets/scripts/scripts.min.js')
