doctype html
html(lang="fr")
  head
    title Proshop, détails du service
    link(rel='stylesheet', href='assets/stylesheets/main.css')
    link(rel='icon', type='image/png', href='img/favicon.png')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
  body  
    include ./includes/header.jade
    main
      section#baseline-section
        include ./includes/baseline.jade
      section
      section
      section
    footer
    script(src='assets/vendor/modernizr.min.js')
    script(src='assets/vendor/vanilla.js')
    script(src='assets/scripts/scripts.min.js')
